*.pro.user
*~
*.swp
*.o

/sprawozdanie 2 -KSR/sprawozdanie.synctex.gz
/sprawozdanie 2 -KSR/sprawozdanie.aux
/sprawozdanie 2 -KSR/sprawozdanie.log
/sprawozdanie 2 -KSR/sprawozdanie.out
/sprawozdanie 2 -KSR/sprawozdanie.pdf